.badge {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
  margin: 5px;
  color: #fff;
}

.priority.baixa {
  background-color: #4caf50;
}

.priority.média {
  background-color: #ffeb3b;
  color: #000;
}

.priority.alta {
  background-color: #ff9800;
}

.priority.urgente {
  background-color: #f44336;
}

.status.pendente {
  background-color: #ff5722;
}

.status.concluído {
  background-color: #4caf50;
}

.tags {
  background-color: #03a9f4;
}